@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffca00;
  font-family: 'Pattaya', sans-serif;
  color: white;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: black;
  font-size: 36px;
}

header a {
  height: 32px;
}

#logo {
  display: flex;
  align-items: flex-end;
}

.golden {
  color: goldenrod;
}

main,
#timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

svg circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  fill: transparent;
  stroke: white;
  transition: stroke-dashoffset 0.25s;
}

svg circle:nth-child(2) {
  stroke: rgba(255, 255, 255, 0.5);
}

#time-left {
  position: absolute;
  font-size: 60px;
}

.table {
  display: table;
  border-spacing: 10px;
}

.table-row {
  display: table-row;
}

.num-pad,
.control-pad {
  display: table-cell;
  width: 54px;
  height: 54px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: opacity 0.25s;
}

.num-pad {
  border: 2px solid black;
  border-radius: 10px;
  background-color: black;
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0)
  );
  font-size: 24px;
}

.off {
  opacity: 0.75;
  cursor: not-allowed;
}

#buttons-ctn {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

button {
  border: 1px solid black;
  margin: 20px 0;
  border-radius: 5px;
  padding: 0 10px;
  min-width: 80px;
  height: 30px;
  background-color: #eee;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
}

#audio-player {
  width: 240px;
  font-size: 18px;
  color: black;
}

#player-controls {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 0;
  height: 38px;
}

#player-controls img {
  cursor: pointer;
}

#soundtrack {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  z-index: 10;
  top: 20vh;
  left: calc(50% - 15rem);
  border-radius: 6px;
  padding: 1rem;
  width: 30rem;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 36px;
  color: black;
}

#coffee-ctn,
.radial-gradient {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -2;
  width: 450px;
  height: 450px;
}

.radial-gradient {
  z-index: -1;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 50%,
    rgba(255, 202, 0, 1) 70%
  );
}

@media screen and (max-width: 900px) {
  header {
    font-size: 30px;
  }

  .coffee-ctn,
  .radial-gradient {
    display: none;
  }
}
